<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Questions Show Page</h1>
    <h2>Question: <%= question.question %></h2>

    

  </body>
</html>
